/* border */
.bb-1 {
    border-bottom: .15rem solid;
}

.ba-1 {
    border: .15rem solid;
}


.b-gray {
    border-color: $gray;
}

/* li */
.no-list-style {
	padding-left: 12px !important;
	li {
		list-style-type: none;
	}
}
